@import "tailwindcss";

:root {
  --font-heading: 'Hubballi', sans-serif;
  --font-body: 'Inter', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-heading: 'Hubballi', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-heading: "Hubballi", sans-serif;
  --font-body: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: var(--font-body);
}

h1 {
  /* font-size: 3.815rem; */
  line-height: 1.2;
}

h2 {
  /* font-size: 3.052rem; */
  line-height: 1.3;
}

h3 {
  /* font-size: 2.441rem; */
  line-height: 1.5;
}

h4 {
  /* font-size: 1.953rem; */
  font-weight: normal;
}

h5 {
  /* font-size: 1.563rem; */
}

h6 {
  /* font-size: 1.25rem; */
}


@media (min-width: 80.06rem) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 80rem) {
  body {
    font-size: 0.875rem;
  }
}

@media (max-width: 64rem) {
  body {
    font-size: 0.75rem;
  }
}

@media (max-width: 48rem) {
  body {
    font-size: 0.625rem;
  }
}

@media (max-width: 40rem) {
  body {
    font-size: 0.5rem;
  }
}